/* From http://net.tutsplus.com/tutorials/html-css-techniques/html-5-and-css-3-the-techniques-youll-soon-be-using/ */
/* Makeshift CSS Reset */  
{  
    margin: 0;  
    padding: 0;  
}

/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
  display: block; 
}
