html {
    border-top:11px solid #CBE098;
}

.source {
	margin-top:5px;
	margin-bottom:15px;
}

body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;  	
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding:0px;
}
.oldPrelude {
  padding-bottom:8px;
}
.section a:link, a:visited {
    color: #779900;
    text-decoration: none;
}
.section a:hover {
    color: #666666;
    text-decoration: underline;
}
#header {
    margin-top:5px;
    text-align:left;
    padding-left: 8px;

}
#logo h1 {
    margin-bottom:-15px;
    margin-top:-10px;
    color:#151515;
    font-size:25px;
}
#logo h2 {
    color:#A8D059;
    letter-spacing:-1.0px;
    font-size:16px;
}
#navcontainer {
    text-align:right;
    width: 100%;
    border-right: 2px solid #D1E5A6;
    top:25px;
}
#col1nonlinks {
    text-align:right;
    width: 100%;
}
#linkscontainer {
    padding-right:10px;
}
#navcontainer ul
{
    padding-right: 6px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align:right;
    line-height:20px;
}
#navcontainer a, a:link, a:visited {
    color: #779900;
    text-decoration: none;
}
#navcontainer a:hover {
    color: #666666;
    text-decoration: underline;
}
.col1 {
    vertical-align:top;
    width:220px;
    white-space:nowrap;
}
.col2 {
    vertical-align:top;
    padding-left:10px;
    padding-right:5px;
}
.col3 {
    width:130px;
    vertical-align:top;
    text-align:right;
}
.standout {
    color:red;
}
.author {
    color:brown;
    padding-top:5px;
    padding-bottom:5px;
    font-size:12px;
}
pre.decorated {
 border: 1px dashed #D8D8D8;
 padding:3px;
 background-color: #F9F9F9;
  }

.sectionHeadingOLD {
  padding: 4px 4px 4px 6px;
  border: 2px solid #4A7584;
  color: black;
  background-color: #B5DFE7;
  font-weight: normal;
  font-size: 15px;
}
.sectionHeading  {
    font-family:Geneva, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #D1E5A6;
    font-weight: normal;
    color:#CC6633;
    font-size:16px;
    padding-bottom:2px;
    margin-bottom:4px;

}
.section {
	padding-bottom:25px;
}
.pageTitle  {
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:black;
    font-weight:bold;
    padding-bottom:8px;	
}
.pageTitle2 {
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:black;
    font-weight:bold;
    position:absolute;
    width:430px;
}
.printSection {
    width:250;
    text-align:right;
}
.headerTable {
    width: 100%;
    margin-bottom:10px;
}
.subSection {
    border-bottom: 1px solid silver;
    padding-top: 10px;
    font-size: 12px;
    color:green;
    font-weight:bold;
}
.about { 
    font-style:italic;
}
.syntax0 {
color: #000000;
}
.syntax1 {
color: #cc0000;
}
.syntax2 {
color: #ff8400;
}
.syntax3 {
color: #6600cc;
}
.syntax4 {
color: #cc6600;
}
.syntax5 {
color: #ff0000;
}
.syntax6 {
color: #9966ff;
}
.syntax7 {
background: #ffffcc;
color: #ff0066;
}
.syntax8 {
color: #006699;
font-weight: bold;
}
.syntax9 {
color: #009966;
font-weight: bold;
}
.syntax10 {
color: #0099ff;
font-weight: bold;
}
.syntax11 {
color: #66ccff;
font-weight: bold;
}
.syntax12 {
color: #02b902;
}
.syntax13 {
color: #ff00cc;
}
.syntax14 {
color: #cc00cc;
}
.syntax15 {
color: #9900cc;
}
.syntax16 {
color: #6600cc;
}
.syntax17 {
color: #0000ff;
}
.syntax18 {
color: #000000;
font-weight: bold;
}
.gutter {
background: #dbdbdb;
color: #000000;
}
.gutterH {
background: #dbdbdb;
color: #990066;
}
/*
code {
    font-family:new-courier,courier,serif;
    color: navy; 
}
*/
pre.textmate-source {
	margin: 0;
	padding: 0 0 0 2px;
	font-family: Monaco, monospace;
	font-size: 11px;
	line-height: 1.3em;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

pre.textmate-source.mac_classic {
	color: #000000;
	background-color: #FFFFFF;
}

pre.textmate-source .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.textmate-source.mac_classic span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}
pre.textmate-source.mac_classic ::selection {
	background-color: rgba(77, 151, 255, 0.33);
}
/* Comment */
pre.textmate-source.mac_classic .comment {
	color: #0066FF;
	font-style: italic;
}

/* Keyword */
pre.textmate-source.mac_classic .keyword, pre.textmate-source.mac_classic .storage {
	color: #0000FF;
	font-weight: bold;
}

/* Number */
pre.textmate-source.mac_classic .constant_numeric {
	color: #0000CD;
}

/* User-defined constant */
pre.textmate-source.mac_classic .constant {
	color: #C5060B;
	font-weight: bold;
}

/* Built-in constant */
pre.textmate-source.mac_classic .constant_language {
	color: #585CF6;
	font-weight: bold;
}

/* Variable */
pre.textmate-source.mac_classic .variable_language, pre.textmate-source.mac_classic .variable_other {
	color: #318495;
}

/* String */
pre.textmate-source.mac_classic .string {
	color: #036A07;
}

/* String interpolation */
pre.textmate-source.mac_classic .constant_character_escape, pre.textmate-source.mac_classic .string .source {
	color: #26B31A;
}

/* Preprocessor line */
pre.textmate-source.mac_classic .meta_preprocessor {
	color: #1A921C;
}

/* Preprocessor directive */
pre.textmate-source.mac_classic .keyword_control_import {
	color: #0C450D;
	font-weight: bold;
}

/* Function name */
pre.textmate-source.mac_classic .entity_name_function, pre.textmate-source.mac_classic .support_function_any-method {
	color: #0000A2;
	font-weight: bold;
}

/* Type name */
pre.textmate-source.mac_classic .entity_name_type {
	text-decoration: underline;
}

/* Inherited class name */
pre.textmate-source.mac_classic .entity_other_inherited-class {
	font-style: italic;
}

/* Function parameter */
pre.textmate-source.mac_classic .variable_parameter {
	font-style: italic;
}

/* Function argument and result types */
pre.textmate-source.mac_classic .storage_type_method {
	color: #70727E;
}

/* Section */
pre.textmate-source.mac_classic .meta_section .entity_name_section, pre.textmate-source.mac_classic .declaration_section .entity_name_section {
	font-style: italic;
}

/* Library function */
pre.textmate-source.mac_classic .support_function {
	color: #3C4C72;
	font-weight: bold;
}

/* Library object */
pre.textmate-source.mac_classic .support_class, pre.textmate-source.mac_classic .support_type {
	color: #6D79DE;
	font-weight: bold;
}

/* Library constant */
pre.textmate-source.mac_classic .support_constant {
	color: #06960E;
	font-weight: bold;
}

/* Library variable */
pre.textmate-source.mac_classic .support_variable {
	color: #21439C;
	font-weight: bold;
}

/* JS: Operator */
pre.textmate-source.mac_classic .keyword_operator_js {
	color: #687687;
}

/* Invalid */
pre.textmate-source.mac_classic .invalid {
	color: #FFFFFF;
	background-color: #990000;
}

/* Invalid trailing whitespace */
pre.textmate-source.mac_classic .invalid_deprecated_trailing-whitespace {
	background-color: #FFD0D0;
}

/* Embedded source */
pre.textmate-source.mac_classic .text .source, pre.textmate-source.mac_classic .string_unquoted {
	background-color: rgba(0, 0, 0, 0.05);
}

/* Embedded embedded source */
pre.textmate-source.mac_classic .text .source .string_unquoted, pre.textmate-source.mac_classic .text .source .text .source {
	background-color: rgba(0, 0, 0, 0.06);
}

/* Markup XML declaration */
pre.textmate-source.mac_classic .meta_tag_preprocessor_xml {
	color: #68685B;
}

/* Markup DOCTYPE */
pre.textmate-source.mac_classic .meta_tag_sgml_doctype, pre.textmate-source.mac_classic .meta_tag_sgml_doctype .entity, pre.textmate-source.mac_classic .meta_tag_sgml_doctype .string, pre.textmate-source.mac_classic .meta_tag_preprocessor_xml, pre.textmate-source.mac_classic .meta_tag_preprocessor_xml .entity, pre.textmate-source.mac_classic .meta_tag_preprocessor_xml .string {
	color: #888888;
}

/* Markup DTD */
pre.textmate-source.mac_classic .string_quoted_docinfo_doctype_DTD {
	font-style: italic;
}

/* Markup tag */
pre.textmate-source.mac_classic .meta_tag, pre.textmate-source.mac_classic .declaration_tag {
	color: #1C02FF;
}

/* Markup name of tag */
pre.textmate-source.mac_classic .entity_name_tag {
	font-weight: bold;
}

/* Markup tag attribute */
pre.textmate-source.mac_classic .entity_other_attribute-name {
	font-style: italic;
}

/* Markup: Heading */
pre.textmate-source.mac_classic .markup_heading {
	color: #0C07FF;
	font-weight: bold;
}

/* Markup: Quote */
pre.textmate-source.mac_classic .markup_quote {
	color: #000000;
	font-style: italic;
}

/* Markup: List */
pre.textmate-source.mac_classic .markup_list {
	color: #B90690;
}
