body { 
  background-color: #34302D; 
  color: #EDEAE3;
  padding-bottom: 75px;
}
.oldPrelude {
   padding-bottom:8px;
}
a {
  text-decoration: none;
  color: #86C543;
}

nav ul {  
    list-style: none;  
    display: block;  
    margin: 0 10px;  
}  
  
nav ul li {  
    float: left;  
    margin: 0 1.5em;  
    font: bold 1em Arial;  
}

.brand {
	font-family: Technoid;
	font-size: 5em;
}

.brand-small {
	font-family: Technoid;
	font-size: 1.5em;
}

.title {
  color: #86C543;
  font-family: DroidSansMono;
  font-size: 2em;
}

.posts {
    list-style: none;
    font-family: DroidSansMono;
}

.post-content {
	font-family: DroidSansMono;
}

/* footer code from http://www.jqueryking.com/css3/create-an-awesome-css-3-stickey-footer */
.footer { /* This will make your footer stay where it is */
	background: none repeat scroll 0 0 #1D1D1D;
	border: 1px solid rgba(0, 0, 0, 0.3);
	bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 40px;
	left: 50%;
	margin: 0 auto 0 -490px;
	padding: 0 5px;
	position: fixed;
	text-shadow: 1px 1px 1px #000000;
	width: 960px;
}

/* border curves */
.footer {
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

/* hover effect */
.footer:hover {
	background: none repeat scroll 0 0 #2b2a2a;
}

/* shadow for the footer*/
.footer {
	-moz-box-shadow:0px 0px 11px #191919;
	-webkit-box-shadow:0px 0px 11px #191919;
	box-shadow:0px 0px 11px #191919;
}

.footer .social_icons {
  float:right; /* social icons positions */
  /* width:auto; */
  margin:5px 15px 0px;
  padding:0px;
  overflow:hidden;
}

.footer .social_icons li {
	margin-right:12px; /* 12px is the space between each one of them */
	float:left;
	width:24px;
	padding:0px;
	height:32px;
	list-style:none;
	_margin-right:0px; /*for IE6 */
}
