<div id="navcontainer">
        <div id="linkscontainer" style="padding-top:15px;"> 
                <a href="http://www.learntechnology.net">MAIN</a><br/>
                Contact: <a href="mailto:rick@learntechnology.net">rick@learntechnology.net</a>
                <br/>
                <br/>
                <b>ZK</b>
                <br/>
                <a href="{% post_url 2012-11-13-zk_large_results %}">Page and Sort Large Results</a><br/>
                <a href="{% post_url 2013-06-15-zk-mybatis-spring %}">MyBATIS 3/ ZK3 MVM/ Spring3</a>
                <br/>
                <br/>
                <b>MyBATIS-Spring</b>
                <br/>
                <a href="{% post_url 2013-06-15-zk-mybatis-spring %}">MyBATIS 3/ ZK3 MVM/ Spring3</a>
		<br/>
		<br/>
                <b>Stripes</b>
                <br/>
                <a href="{% post_url 2007-09-22-Stripes_CRUD %}">Stripes CRUD</a>
                <br/>
                <a href="{% post_url 2008-01-05-stripes-crud-groovy %}">Stripes CRUD Groovy</a>
                <br/>
                <br/>
                <b>Grails</b>
                <br/>
                <a href="{% post_url 2007-12-08-grails_part1 %}">Grails CRUD</a>
                <br/>
                <br/>
                <b>Struts 2</b>
                <br/>
                <a href="{% post_url 2007-11-26-struts2_crud %}">Struts2 CRUD</a>
                <br/>
                <a href="{% post_url 2007-12-09-struts2_hibernate %}">Struts2 Hibernate</a>
                <br/>
                <a href="{% post_url 2008-07-17-struts2_hibernate_pico %}">Struts2 PicoContainer w/ Hibernate</a>
                <br/>
                <br/>
                <b>EJB 3</b>
                <br/>
                <a href="{% post_url 2008-10-12-maven-ejb3 %}">Maven-EJB3-JPA (JBoss5)</a>
                <br/>
                <a href="{% post_url 2007-04-26-ejb3_local %}">EJB3 - JBoss/Stateless</a>
                <br/>
                <a href="{% post_url 2007-06-10-jms_jboss_ejb3  %}">JMS (JBoss/EJB3 with MDB)</a>
                <br/>
                <br/>
                <b>JavaFX</b>
                <br/>
                <a href="{% post_url 2009-02-21-javafx %}">JavaFX CRUD</a>
                <br/>
                <br/>
                <b>Web Services</b>
                <br/>
                <a href="{% post_url 2007-07-21-jboss_webservices %}">JBoss Web Service (JAX-WS,Axis2)</a>
                <br/>
                <br/>
                <b>EJB 2.1</b>
                <br/>
                <a href="{% post_url 2007-04-15-jms-jboss1 %}">JMS (JBoss with MDB)</a>
                <br/>
                <a href="{% post_url 2007-02-21-ejb2_1 %}">EJB 2.1 (Local)</a>
                <br/>
                <a href="{% post_url 2007-04-15-ejb2_1_remote %}">EJB 2.1 (Remote)</a>
                <br/>
                <br/>
                <b>JMS</b>
                <br/>
                <a href="{% post_url 2007-04-15-jms-jboss1 %}">JMS (JBoss with MDB-EJB2.1)</a>
                <br/>
                <a href="{% post_url 2007-06-10-jms_jboss_ejb3  %}">JMS (JBoss/EJB3 with MDB)</a>
                <br/>
                <br/>
                <b>Patterns</b>
                <br/>
                <a href="{% post_url 2007-03-18-visitor-pattern %}">Visitor Pattern</a>
                <br/>
                <br/>
                <b>Ajax</b>
                <br/>
                <a href="{% post_url 2007-07-15-jquery_options %}">JQuery - Select alters other select</a>  
                <br/>
                <br/>
                <b>iBATIS</b>
                <br/>
                <a href="{% post_url 2006-05-01-struts1-ibatis.html %}">(old) iBATIS Lesson 1</a>
                <br/>
                <a href="{% post_url 2006-04-25-struts1-spring-ibatis.html %}">(old)Struts-Spring-iBATIS</a>
                <br/>
                <br/>
                <b>JSF</b>
                <br/>
                <a href="{% post_url 2006-06-01-jsf_crud %}">JSF CRUD</a>
                <br/>
                <br/>
                <b>JSTL</b>
                <br/>
                <a href="{% post_url 2006-06-20-jstl_intro %}">Introduction to JSTL</a>
                <br/>
                <br/>
                <b>SiteMesh</b>
                <br/>
                <a href="{% post_url 2005-01-01-sitemesh %}">SiteMesh (instead of Tiles)</a>
                <br/>
                <br/>
                <b>Really Old</b>
				<br/>
                <a href="{% post_url 2006-01-01-old-stuff1 %}">Struts 1, Web Work, Wicket 1, etc.</a>
                <br/>
				<br/>
                <hr style="height:2px;border:0;background-color:#D1E5A6;margin-left:15px;padding-right:15px;"/>
                <br/>
                <a href="${appcontext}/content/misc/resources.jsp">RESOURCES</a>
                <br/>
                <br/>
                Contact: <a href="mailto:rick@learntechnology.net">rick@learntechnology.net</a>
                <br/>
        </div> 
</div> 

